.blockDispCommon{
    display: block;
    background-color:skyblue;
    color: white;
    border: solid;
    border-color: snow;
    border-radius: 10px;
}

/* Section for display of cards for products */
.blockDispCourse{
    height: 10rem; 
    width: 14rem;
    /*padding: 5px;*/
    margin-top:5px;
    margin-bottom: 5px;
}

.detailRowDisp{
    min-height: 5px; 
    overflow: hidden; 
    background-color:skyblue;
    color: white;
    margin:2px;
    border: solid;
    border-color: snow;
    border-radius: 10px;
}